
h2{text-align: center;margin-bottom: 50px;}
h1{
	color: white;
}
body{
	background: white;
	  font-family: "Cormorant Garamond", serif;
	  font-weight:400;
}
p,a, h2, li{
	color:#2E5077 ;
}
div#banniere{
background-image: url("image/ciel-et4.jpg");
height: 100px;
margin-bottom: 50px;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}
a.b{
display: block ;
text-align: center;
color: #2E5077;
font-size: 25px;
background-color: #4DA1A9;
margin:5px;
padding: 10px 20px;
text-decoration: none;
border-radius: 500px;
border: 1px #000 solid;
transition: all 300ms ease-in-out;
}
a.b:hover{
background-color: #2E5077;
color: #4DA1A9;
}